<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<meta name="msapplication-TileColor" content="#0E0E0E"/>
		<meta name="theme-color" content="#0E0E0E"/>
		<meta name="description" content="Index page"/>
		<meta name="keywords" content="index, page"/>
		<meta name="author" content=""/>
		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:site" content=""/>
		<meta name="twitter:image" content=""/>
		<meta name="twitter:description" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:title" content=""/>
		<meta property="og:description" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:type" content="website"/>
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-icon-57x57.png"/>
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png"/>
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png"/>
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png"/>
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png"/>
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png"/>
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png"/>
		<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png"/>
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png"/>
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png"/>
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png"/>
		<meta name="msapplication-TileColor" content="#ffffff"/>
		<meta name="msapplication-TileImage" content="/assets/images/favicons/ms-icon-144x144.png"/>
		<meta name="theme-color" content="#ffffff"/>
		<link rel="stylesheet" href="./assets/css/style.css"/>
		<title>miniShop2</title>
		<link rel="manifest" href="./manifest.json"/>
		<meta name="msapplication-config" content="./browserconfig.xml"/>
	</head>
	<body>
		<header class="header">
			<div class="wrapper">
				<div class="header__top"><a class="header__logo" href="/">miniShop2</a>
					<nav class="header__menu">
						<ul class="top__menu">
							<li class="top__item"><a class="top__link" href="#">Home</a>
							</li>
							<li class="top__item"><a class="top__link" href="#team">контрибьютеры</a>
							</li>
							<li class="top__item"><a class="top__link" href="#blog">Блог</a>
							</li>
							<li class="top__item"><a class="top__link" href="#how">Как работает</a>
							</li>
							<li class="top__item"><a class="top__link" href="#">Contacts</a>
							</li>
						</ul>
					</nav>
					<nav class="header__links">
						<ul class="links__list">
							<li class="links__item"><a class="links__link" href="#"><img src="assets/images/github-icon.svg" alt=""/></a>
							</li>
							<li class="links__item lang"><a class="links__link" href="#">RU</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header__content">
					<h1 class="header__title animate__animated animate__fadeInLeft animate__delay-1s">Самый гибкий интернет магазин для MODX
					</h1>
					<div class="header__description animate__animated animate__fadeInUp animate__delay-2s">She clutched the matron by the arm, and forcing her into a chai She clutched the matron by the arm, and forcing her into a chai She clutched the matron by the arm, and forcing her into a chai She clutched the matron by the arm, and forcing her into a chai
					</div><a class="button button--blue animate__animated animate__fadeIn animate__delay-3s">С чего начать</a>
				</div>
			</div>
		</header>
		<section class="how" id="how">
			<div class="how__wrapper wrapper">
				<div class="how__top">
					<h2 class="how__title">Как это работает
					</h2>
					<div class="how__introtext">A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked punch!
					</div>
				</div>
				<div class="how__wrap">
					<div class="how__item">
						<div class="how__icon"><img src="assets/images/how-icon.png" alt=""/>
						</div>
						<h3 class="how__headtitle">Features
						</h3>
						<div class="how__text">This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters
						</div>
					</div>
					<div class="how__item">
						<div class="how__icon"><img src="assets/images/how-icon.png" alt=""/>
						</div>
						<h3 class="how__headtitle">Features
						</h3>
						<div class="how__text">This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters
						</div>
					</div>
					<div class="how__item">
						<div class="how__icon"><img src="assets/images/how-icon.png" alt=""/>
						</div>
						<h3 class="how__headtitle">Features
						</h3>
						<div class="how__text">This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters
						</div>
					</div>
					<div class="how__item">
						<div class="how__icon"><img src="assets/images/how-icon.png" alt=""/>
						</div>
						<h3 class="how__headtitle">Features
						</h3>
						<div class="how__text">This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters
						</div>
					</div>
					<div class="how__item">
						<div class="how__icon"><img src="assets/images/how-icon.png" alt=""/>
						</div>
						<h3 class="how__headtitle">Features
						</h3>
						<div class="how__text">This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters
						</div>
					</div>
					<div class="how__item">
						<div class="how__icon"><img src="assets/images/how-icon.png" alt=""/>
						</div>
						<h3 class="how__headtitle">Features
						</h3>
						<div class="how__text">This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="team" id="team">
			<div class="team__wrapper wrapper">
				<h2 class="team__title">Команда контрибьютеров
				</h2>
				<div class="founder">
					<div class="founder__item">
						<div class="founder__wrap">
							<div class="founder__info">
								<div class="founder__name">Василий Наумкин
								</div>
								<div class="founder__position">Founder
								</div>
							</div>
							<div class="founder__social"><a href="#" rel="nofollow" target="_blank">Github</a><a href="#" rel="nofollow" target="_blank">MODX.pro</a><a href="#" rel="nofollow" target="_blank">VK</a>
							</div>
						</div>
					</div>
				</div>
				<div class="community">
					<div class="team__item">
						<div class="team__wrap">
							<div class="team__avatar"><img src="assets/images/Photo.png" alt="member" title=""/>
							</div>
							<div class="team__info">
								<div class="team__name">William Ayrton
								</div>
								<div class="team__position">UI/UX Designer
								</div>
								<div class="team__social"><a href="#" rel="nofollow" target="_blank">Github</a><a href="#" rel="nofollow" target="_blank">MODX.pro</a><a href="#" rel="nofollow" target="_blank">VK</a>
								</div>
							</div>
						</div>
					</div>
					<div class="team__item">
						<div class="team__wrap">
							<div class="team__avatar"><img src="assets/images/Photo.png" alt="member" title=""/>
							</div>
							<div class="team__info">
								<div class="team__name">William Ayrton
								</div>
								<div class="team__position">UI/UX Designer
								</div>
								<div class="team__social"><a href="#" rel="nofollow" target="_blank">Github</a><a href="#" rel="nofollow" target="_blank">MODX.pro</a><a href="#" rel="nofollow" target="_blank">VK</a>
								</div>
							</div>
						</div>
					</div>
					<div class="team__item">
						<div class="team__wrap">
							<div class="team__avatar"><img src="assets/images/Photo.png" alt="member" title=""/>
							</div>
							<div class="team__info">
								<div class="team__name">William Ayrton
								</div>
								<div class="team__position">UI/UX Designer
								</div>
								<div class="team__social"><a href="#" rel="nofollow" target="_blank">Github</a><a href="#" rel="nofollow" target="_blank">MODX.pro</a><a href="#" rel="nofollow" target="_blank">VK</a>
								</div>
							</div>
						</div>
					</div>
					<div class="team__item">
						<div class="team__wrap">
							<div class="team__avatar"><img src="assets/images/Photo.png" alt="member" title=""/>
							</div>
							<div class="team__info">
								<div class="team__name">William Ayrton
								</div>
								<div class="team__position">UI/UX Designer
								</div>
								<div class="team__social"><a href="#" rel="nofollow" target="_blank">Github</a><a href="#" rel="nofollow" target="_blank">MODX.pro</a><a href="#" rel="nofollow" target="_blank">VK</a>
								</div>
							</div>
						</div>
					</div>
					<div class="team__item">
						<div class="team__wrap">
							<div class="team__avatar"><img src="assets/images/Photo.png" alt="member" title=""/>
							</div>
							<div class="team__info">
								<div class="team__name">William Ayrton
								</div>
								<div class="team__position">UI/UX Designer
								</div>
								<div class="team__social"><a href="#" rel="nofollow" target="_blank">Github</a><a href="#" rel="nofollow" target="_blank">MODX.pro</a><a href="#" rel="nofollow" target="_blank">VK</a>
								</div>
							</div>
						</div>
					</div>
					<div class="team__item">
						<div class="team__wrap">
							<div class="team__avatar"><img src="assets/images/Photo.png" alt="member" title=""/>
							</div>
							<div class="team__info">
								<div class="team__name">William Ayrton
								</div>
								<div class="team__position">UI/UX Designer
								</div>
								<div class="team__social"><a href="#" rel="nofollow" target="_blank">Github</a><a href="#" rel="nofollow" target="_blank">MODX.pro</a><a href="#" rel="nofollow" target="_blank">VK</a>
								</div>
							</div>
						</div>
					</div>
					<div class="team__item">
						<div class="team__wrap">
							<div class="team__avatar"><img src="assets/images/Photo.png" alt="member" title=""/>
							</div>
							<div class="team__info">
								<div class="team__name">William Ayrton
								</div>
								<div class="team__position">UI/UX Designer
								</div>
								<div class="team__social"><a href="#" rel="nofollow" target="_blank">Github</a><a href="#" rel="nofollow" target="_blank">MODX.pro</a><a href="#" rel="nofollow" target="_blank">VK</a>
								</div>
							</div>
						</div>
					</div>
					<div class="team__item">
						<div class="team__wrap">
							<div class="team__avatar"><img src="assets/images/Photo.png" alt="member" title=""/>
							</div>
							<div class="team__info">
								<div class="team__name">William Ayrton
								</div>
								<div class="team__position">UI/UX Designer
								</div>
								<div class="team__social"><a href="#" rel="nofollow" target="_blank">Github</a><a href="#" rel="nofollow" target="_blank">MODX.pro</a><a href="#" rel="nofollow" target="_blank">VK</a>
								</div>
							</div>
						</div>
					</div>
					<div class="team__item">
						<div class="team__wrap">
							<div class="team__avatar"><img src="assets/images/Photo.png" alt="member" title=""/>
							</div>
							<div class="team__info">
								<div class="team__name">William Ayrton
								</div>
								<div class="team__position">UI/UX Designer
								</div>
								<div class="team__social"><a href="#" rel="nofollow" target="_blank">Github</a><a href="#" rel="nofollow" target="_blank">MODX.pro</a><a href="#" rel="nofollow" target="_blank">VK</a>
								</div>
							</div>
						</div>
					</div>
					<div class="team__item">
						<div class="team__wrap">
							<div class="team__avatar"><img src="assets/images/Photo.png" alt="member" title=""/>
							</div>
							<div class="team__info">
								<div class="team__name">William Ayrton
								</div>
								<div class="team__position">UI/UX Designer
								</div>
								<div class="team__social"><a href="#" rel="nofollow" target="_blank">Github</a><a href="#" rel="nofollow" target="_blank">MODX.pro</a><a href="#" rel="nofollow" target="_blank">VK</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="team__more"><a class="team__button button button--white" href="#" rel="nofollow" target="_blank">Посмотреть всех</a>
				</div>
			</div>
		</section>
		<section class="blog" id="blog">
			<div class="blog__wrapper wrapper">
				<div class="blog__top">
					<h2 class="blog__headline">Последние новости
					</h2>
					<div class="blog__introtext">A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked punch!
					</div>
				</div>
				<div class="blog__list">
					<div class="blog__item">
						<h3 class="blog__title">I am from France
						</h3>
						<div class="blog__text">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
						</div>
						<div class="blog__date">25.05.2020
						</div>
					</div>
					<div class="blog__item">
						<h3 class="blog__title">I am from France
						</h3>
						<div class="blog__text">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
						</div>
						<div class="blog__date">25.05.2020
						</div>
					</div>
					<div class="blog__item">
						<h3 class="blog__title">I am from France
						</h3>
						<div class="blog__text">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
						</div>
						<div class="blog__date">25.05.2020
						</div>
					</div>
					<div class="blog__item">
						<h3 class="blog__title">I am from France
						</h3>
						<div class="blog__text">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
						</div>
						<div class="blog__date">25.05.2020
						</div>
					</div>
					<div class="blog__item">
						<h3 class="blog__title">I am from France
						</h3>
						<div class="blog__text">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
						</div>
						<div class="blog__date">25.05.2020
						</div>
					</div>
					<div class="blog__item">
						<h3 class="blog__title">I am from France
						</h3>
						<div class="blog__text">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
						</div>
						<div class="blog__date">25.05.2020
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>