.blog {
  background-color: white;
  &__wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  &__top {
    border-bottom: 1px solid #eff0f4;
    padding-bottom: 60px;
  }
  &__headline {
    font-size: 48px;
    font-weight: 900;
    color: #222328;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  &__introtext {
    color: #4f5362;
    line-height: 1.5;
    max-width: 70%;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0;
    margin: 0 -15px;
    justify-content: space-between;
  }
  &__item {
    width: 45%;
    margin: 0 15px 15px;
  }
  &__title {
    font-size: 32px;
    font-weight: 900;
    color: #4f5362;
    line-height: 1.125;
    margin-bottom: 15px;
  }
  &__text {
    color: #4f5362;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  &__date {
    text-align: right;
    font-weight: 600;
    color: #a8acb9;
    text-transform: uppercase;
  }
}

@media (max-width: 570px) {
  .blog {
    &__headline {
      font-size: 32px;
    }
    &__top {
      padding-bottom: 30px;
    }
    &__item {
      width: 100%;
      margin: 0 15px 15px;
    }
    &__wrapper {
      padding-top: 0;
      padding-bottom: 30px;
    }
    &__introtext {
      max-width: 100%;
    }
    &__title {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }
}
