.footer {
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #222328;
  background-image: url(../images/bg_footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 0;
  &__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__nav {
    margin-bottom: 30px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__item {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    &:not(:last-child) {
      margin-right: 40px;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &__link {
    color: white;
  }
  &__copyryte-text {
    color: white;
    line-height: 2;
    text-align: center;
  }
  &__made {
    display: flex;
    align-items: center;
    font-size: 42px;
    font-weight: 900;
    color: white;
    letter-spacing: 0.07em;
    text-align: center;
    svg {
      height: 70px;
      width: auto;
    }
  }
}

@media (max-width: 570px) {
  .footer {
    padding: 50px 0;
    &__made {
      font-size: 32px;
    }
    &__nav ul {
      align-items: center;
      flex-direction: column;
    }
    &__item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
