.team {
  background-color: #4f5362;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-image: url('../images/bg_team.jpg');
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  &__title {
    font-size: 42px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-bottom: 30px;
    text-align: center;
  }
  .founder {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    &__item {
      border: 2px solid #767885;
      border-radius: 5px;
      width: 100%;
      max-width: 530px;
    }
    &__wrap {
      padding: 20px;
      display: flex;
      justify-content: space-between;
    }
    &__info {
    }
    &__name {
      color: white;
      font-size: 18px;
      line-height: 1.556;
    }
    &__position {
      font-size: 12px;
      font-weight: 300;
      color: #a8acb9;
      line-height: 2.333;
      text-transform: uppercase;
    }
  }
  .community {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px 20px;
  }
  &__button {
    margin: 0 auto;
  }
  &__item {
    display: flex;
    align-items: stretch;
    border: 2px solid #767885;
    border-radius: 5px;
    margin: 0 15px 30px;
    max-width: 100%;
    width: calc(100% / 3 - 40px);
  }
  &__wrap {
    display: flex;
    padding: 20px;
    width: 100%;
  }
  &__avatar {
    margin: auto 20px auto 0;
    img {
      width: 70px;
      height: auto;
      border-radius: 100px;
    }
  }
  &__name {
    color: white;
    font-size: 18px;
    line-height: 1.556;
  }
  &__position {
    font-size: 12px;
    font-weight: 300;
    color: #a8acb9;
    line-height: 2.333;
    text-transform: uppercase;
  }
}

@media (max-width: 570px) {
  .team {
    padding-top: 0;
    padding-bottom: 30px;
    &__wrap {
      padding: 10px;
    }
    .founder {
      margin-bottom: 15px;
    }
    &__item {
      margin: 0 15px 10px;
      width: 100%;
    }
    &__avatar img {
      width: 40px;
      height: 40px;
    }
    &__title {
      font-size: 32px;
    }
    &__name {
      font-size: 16px;
    }
  }
}
