<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="msapplication-TileColor" content="#0E0E0E">
		<meta name="theme-color" content="#0E0E0E">
		<meta name="description" content="Index page">
		<meta name="keywords" content="index, page">
		<meta name="author" content="">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="">
		<meta name="twitter:image" content="">
		<meta name="twitter:description" content="">
		<meta property="og:url" content="">
		<meta property="og:title" content="">
		<meta property="og:description" content="">
		<meta property="og:image" content="">
		<meta property="og:type" content="website">
		<meta property="og:og:locale" content="ru_RU">
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/assets/images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="./assets/css/style.min.css">
		<title>miniShop2</title>
		<link rel="manifest" href="/assets/images/favicons/manifest.json">
		<meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="row justify-content-center align-items-center justify-content-md-between">
					<div class="col-auto">
						<div class="logo" itemscope itemtype="http://schema.org/Organization"><a class="logo__link" href="/" itemprop="url"><span class="logo__title" itemprop="logo">miniShop2</span>
								<meta class="logo__meta" itemprop="name" content="Название сайта"></a></div>
					</div>
					<div class="col-auto">
						<nav class="nav">
							<ul class="nav__menu">
								<li class="nav__menu__item"><a class="nav__menu__item__link" href="#features">Преимущества</a></li>
								<li class="nav__menu__item"><a class="nav__menu__item__link" href="#team">Команда</a></li>
								<li class="nav__menu__item"><a class="nav__menu__item__link" href="#blog">Блог</a></li>
								<li class="nav__menu__item"><a class="nav__menu__item__link" href="#help">Помочь проекту</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="section main">
			<div class="container main__container">
				<div class="main__body">
					<h2 class="main__title">Самый гибкий интернет магазин для MODX</h2>
					<div class="main__description">Ведущая экосистема электронной коммерции для CMS MODX Revolution.</div>
				</div>
				<div class="main__footer"><a class="button button--primary" href="#">Посмотреть демо</a></div>
			</div>
		</main>
		<section class="section" id="features">
			<div class="container">
				<div class="headline">
					<h2 class="headline__title">Преимущества</h2>
					<div class="headline__description">A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked punch!</div>
				</div>
				<div class="row row--grid">
					<div class="col-12 col-lg-4">
						<article class="card">
							<header class="card__header">
								<h3 class="card__title">Большая экосистема</h3>
							</header>
							<div class="card__body">
								<div class="card__text">Около <strong>100 дополнений</strong> которые улучшают и расширяют функционал minishop2 делая его самым гибким инструментом для разработки интернет-магазинов на базе CMS MODX</div>
							</div>
							<footer class="card__footer"><a class="card__link" href="#">Посмотреть</a></footer>
							<div class="card__bg"></div>
						</article>
					</div>
					<div class="col-12 col-lg-4">
						<article class="card">
							<header class="card__header">
								<h3 class="card__title">Встроенная галерея</h3>
							</header>
							<div class="card__body">
								<div class="card__text">В компонент встроена удобная галерея для хранения фотографий товаров с автоматической генерацией превью во время их загрузки</div>
							</div>
							<div class="card__bg"></div>
						</article>
					</div>
					<div class="col-12 col-lg-4">
						<article class="card">
							<header class="card__header">
								<h3 class="card__title">Большая экосистема</h3>
							</header>
							<div class="card__body">
								<div class="card__text">Около <strong>100 дополнений</strong> которые улучшают и расширяют функционал minishop2 делая его самым гибким инструментом для разработки интернет-магазинов на базе CMS MODX</div>
							</div>
							<footer class="card__footer"><a class="card__link" href="#">Посмотреть</a></footer>
							<div class="card__bg"></div>
						</article>
					</div>
					<div class="col-12 col-lg-4">
						<article class="card">
							<header class="card__header">
								<h3 class="card__title">Встроенная галерея</h3>
							</header>
							<div class="card__body">
								<div class="card__text">В компонент встроена удобная галерея для хранения фотографий товаров с автоматической генерацией превью во время их загрузки</div>
							</div>
							<div class="card__bg"></div>
						</article>
					</div>
					<div class="col-12 col-lg-4">
						<article class="card">
							<header class="card__header">
								<h3 class="card__title">Большая экосистема</h3>
							</header>
							<div class="card__body">
								<div class="card__text">Около <strong>100 дополнений</strong> которые улучшают и расширяют функционал minishop2 делая его самым гибким инструментом для разработки интернет-магазинов на базе CMS MODX</div>
							</div>
							<footer class="card__footer"><a class="card__link" href="#">Посмотреть</a></footer>
							<div class="card__bg"></div>
						</article>
					</div>
					<div class="col-12 col-lg-4">
						<article class="card">
							<header class="card__header">
								<h3 class="card__title">Встроенная галерея</h3>
							</header>
							<div class="card__body">
								<div class="card__text">В компонент встроена удобная галерея для хранения фотографий товаров с автоматической генерацией превью во время их загрузки</div>
							</div>
							<div class="card__bg"></div>
						</article>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--dark team" id="team">
			<div class="container">
				<div class="headline headline--white">
					<h2 class="headline__title">Сделано с <span class="text-danger"><любовью> </span>этой командой</h2>
				</div>
				<div class="row">
					<div class="col-12 col-lg-4"><a class="user" href="#">
							<div class="user__avatar"><img class="user__img" src="https://avatars0.githubusercontent.com/u/1257284?v=4"></div>
							<div class="user__body">
								<div class="user__name">bezumkin</div>
								<div class="user__position">bezumkin</div>
							</div></a></div>
					<div class="col-12 col-lg-4"><a class="user" href="#">
							<div class="user__avatar"><img class="user__img" src="https://avatars2.githubusercontent.com/u/3117525?v=4"></div>
							<div class="user__body">
								<div class="user__name">vgrish</div>
								<div class="user__position">vgrish</div>
							</div></a></div>
					<div class="col-12 col-lg-4"><a class="user" href="#">
							<div class="user__avatar"><img class="user__img" src="https://avatars0.githubusercontent.com/u/1428987?v=4"></div>
							<div class="user__body">
								<div class="user__name">argnist</div>
								<div class="user__position">argnist</div>
							</div></a></div>
					<div class="col-12 col-lg-4"><a class="user" href="#">
							<div class="user__avatar"><img class="user__img" src="https://avatars0.githubusercontent.com/u/2138260?v=4"></div>
							<div class="user__body">
								<div class="user__name">Ibochkarev</div>
								<div class="user__position">Ibochkarev</div>
							</div></a></div>
					<div class="col-12 col-lg-4"><a class="user" href="#">
							<div class="user__avatar"><img class="user__img" src="https://avatars0.githubusercontent.com/u/20814058?v=4"></div>
							<div class="user__body">
								<div class="user__name">GulomovCreative</div>
								<div class="user__position">GulomovCreative</div>
							</div></a></div>
					<div class="col-12 col-lg-4"><a class="user" href="#">
							<div class="user__avatar"><img class="user__img" src="https://avatars3.githubusercontent.com/u/966234?v=4"></div>
							<div class="user__body">
								<div class="user__name">webinmd</div>
								<div class="user__position">webinmd</div>
							</div></a></div>
				</div>
				<div class="text-center"><a class="button button--outline" href="#" rel="nofollow" target="_blank">Посмотреть всех</a></div>
			</div>
		</section>
		<section class="section" id="blog">
			<div class="container">
				<div class="headline">
					<h2 class="headline__title">Последние новости</h2>
					<div class="headline__description">A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked punch!</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-4">
						<div class="article">
							<h3 class="article__title">I am from France</h3>
							<div class="article__text">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.</div>
							<time class="article__time">25.05.2020</time>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="article">
							<h3 class="article__title">I am from France</h3>
							<div class="article__text">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.</div>
							<time class="article__time">25.05.2020</time>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="article">
							<h3 class="article__title">I am from France</h3>
							<div class="article__text">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.</div>
							<time class="article__time">25.05.2020</time>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--primary text-center text-white" id="help">
			<div class="container">
				<div class="headline headline--white">
					<h2 class="headline__title">Как помочь проекту?</h2>
				</div>
				<div class="section__body">Если вы обнаружили баг или хотите предлодить идею, то вы можете оформить issue. Кто знает, может именно ваша идея сделает minishop2 лучше.</div>
				<div class="section__footer"><a class="button button--outline" href="#">Написать issue</a></div>
			</div>
		</section>
		<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-12 col-lg-auto">
						<div class="copyright" itemscope itemtype="http://schema.org/WPFooter">  Copyright ©<span itemprop="copyrightYear">2015</span>  minishop2.com</div>
					</div>
					<div class="col-12 col-lg-auto">
						<nav class="nav nav--white">
							<ul class="nav__menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
								<li class="nav__menu__item" itemprop="name"><a class="nav__menu__item__link" href="#" itemprop="url">Документация</a></li>
								<li class="nav__menu__item" itemprop="name"><a class="nav__menu__item__link" href="#" itemprop="url">GitHub</a></li>
								<li class="nav__menu__item" itemprop="name"><a class="nav__menu__item__link" href="#" itemprop="url">Магазин дополнений</a></li>
								<li class="nav__menu__item" itemprop="name"><a class="nav__menu__item__link" href="#" itemprop="url">Демо сайт</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</footer>
		<script src="assets/js/main.min.js"></script>
	</body>
</html>