
footer.section-footer.bg-dark
  .container
    .footer-copyright.py-6
      p.float-left.text-muted © 2019 Company  All rights resetved
        p.float-right.text-muted(target="_blank")
          a.pr-3.text-gray-300(href="") Privacy &amp; Cookies
          a.text-gray-300(href="") Accessibility
