
footer.section-footer.border-top
  .container
    .footer-copyright
      p.float-left.text-muted © 2019 Company  All rights resetved
        p.float-right.text-muted(target="_blank")
          a.pr-3(href="") Privacy &amp; Cookies
          a(href="") Accessibility
