header.section-header.border-bottom
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.navbar-brand(href='index.html')
        | Minishop2
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mx-auto
          li.nav-item
            a.nav-link(href='index.html') Главная
          li.nav-item.dropdown.position-static.hovered
            a.nav-link(data-toggle='dropdown' href='#') Каталог
            .dropdown-menu.w-100
              .card.card-lg
                .card-body
                  .container
                    .row.w-100
                      .col-6.col-md-3
                        .mb-5.font-weight-bold Одежда
                        ul.list-styled.mb-6.mb-md-0.font-size-sm
                          li.list-styled-item
                            a.list-styled-link(href='#') Вся одежда
                          li.list-styled-item
                            a.list-styled-link(href='#') Блузки и рубашки
                          li.list-styled-item
                            a.list-styled-link(href='#') Пальто и куртки
                          li.list-styled-item
                            a.list-styled-link(href='#') Платья
                      .col-6.col-md-3
                        .mb-5.font-weight-bold Обувь и сапоги
                        ul.list-styled.mb-6.mb-md-0.font-size-sm
                          li.list-styled-item
                            a.list-styled-link(href='#') Вся обувь и сапоги
                          li.list-styled-item
                            a.list-styled-link(href='#') Фирменная обувь
                          li.list-styled-item
                            a.list-styled-link(href='#') Сапоги
                      .col-6.col-md-3
                        .mb-5.font-weight-bold Сумки и аксессуары
                        ul.list-styled.mb-0.font-size-sm
                          li.list-styled-item
                            a.list-styled-link(href='#') Все сумки и аксессуары
                          li.list-styled-item
                            a.list-styled-link(href='#') Аксессуары
                          li.list-styled-item
                            a.list-styled-link(href='#') Сумки и кошельки
          li.nav-item
            a.nav-link(href='#') Магазин
          li.nav-item
            a.nav-link(href='#') Страницы
          li.nav-item
            a.nav-link(href='#') Блог
          li.nav-item
            a.nav-link(href='#') Документация
        ul.navbar-nav.flex-row
          li.nav-item
            a.nav-link(data-toggle='modal' href='#modalSearch')
              i.fa.fa-search
          li.nav-item.ml-lg-n4
            a.nav-link(href='./account.html')
              i.fa.fa-user
          li.nav-item.ml-lg-n4
            a.nav-link(data-toggle='modal' href='#modalShoppingCart')
              span(data-cart-items='2')
                i.fa.fa-shopping-cart
