main.section.main
    .container.main__container
        .main__body
            h2.main__title Самый гибкий интернет магазин для MODX
            .main__description Ведущая экосистема электронной коммерции для CMS MODX Revolution.
        .main__footer
            a.button.button--primary(href="#") Посмотреть демо
