$transition: 150ms ease-in-out;
$transition-slow: 300ms ease-in-out;

$theme-colors: (
    "primary": #0093E9,
);


$text-gray: #4f5362;

$box-shadow: 0 5px 25px rgba(0,0,0,0.08);

$gradient: linear-gradient(109.6deg,  rgba(223,234,247,1) 11.2%, rgba(244,248,252,1) 91.1% );