body,
html {
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-seriff;
    font-size: 16px;
    font-weight: 400;
    color: #222328;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    &--grid {
        margin-bottom: calc(-1 * #{$grid-gutter-width});
    }
}

:root {
    --header-height: 120px;
}

@include media-breakpoint-up(lg) {
    :root {
        --header-height: 80px;
    }
}