.headline {
    $self: &;
    margin-bottom: 2rem;

    &--white {
        #{$self}__title {
            color: white;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 900;
        color: #222328;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
    }

    &__description {
        color: $text-gray;
        line-height: 1.5;
        margin: 0 auto;
        max-width: 70%;
        text-align: center;
    }

    @media (max-width: 570px) {
        & {
            margin-bottom: 30px;

            &__title {
                font-size: 32px;
            }

            &__description {
                max-width: 100%;
            }
        }
    }
}