.main {
    background-image: $gradient;

    &__title {
        font-size: 2em;
        font-weight: 900;
    }

    &__body {
        text-align: center;
    }

    &__description {
        line-height: 1.5rem;
        font-weight: 500;
    }

    &__footer {
        text-align: center;
        margin-top: 40px;
    }
}

@include media-breakpoint-up(lg) {
    .main {
        &__title {
            font-size: 3em;
        }
    }
}