.section {
    $self: &;

    padding: 2rem 0;

    &--primary {
        background-color: $primary;
    }

    &--dark {
        background-color: $dark;
    }

    &__body {
        line-height: 1.5;

        +#{$self}__footer {
            margin-top: 2rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .section {
        padding: 6rem 0;
    }
}