include ../src/bemto/bemto.pug

<!DOCTYPE html>
html(lang="ru-RU")
  head
    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    meta(name='msapplication-TileColor', content='#0E0E0E')
    meta(name='theme-color', content='#0E0E0E')

    //- SEO

    //- Basic Seo
    block basicSeo
      meta(name='description' content='Index page')
      meta(name='keywords', content='index, page')
      meta(name='author' content='')

    //- Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:description', content='')

    //- Facebook
    meta(property='og:url', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:image', content='')
    meta(property='og:type', content='website')


    //- Favicons
    link(rel='apple-touch-icon', sizes='57x57', href='/assets/images/favicons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/assets/images/favicons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/assets/images/favicons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/images/favicons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/assets/images/favicons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/assets/images/favicons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/assets/images/favicons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/assets/images/favicons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/images/favicons/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/assets/images/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/assets/images/favicons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/images/favicons/favicon-16x16.png')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/assets/images/favicons/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    //- CSS
    link(rel="stylesheet", href="./assets/css/style.css")

    //- Preload fonts
    //- link(type='font/woff', href=require('../fonts/Montserrat/Montserrat-Extrabold.woff'), rel='preload', as='font', crossorigin)
    //- link(type='font/woff', href=require('../fonts/Montserrat/Montserrat-Regular.woff'), rel='preload', as='font', crossorigin)
    //- link(type='font/woff', href=require('../fonts/Montserrat/Montserrat-Bold.woff'), rel='preload', as='font', crossorigin)
    //- link(type='font/woff', href=require('../fonts/Montserrat/Montserrat-SemiBold.woff'), rel='preload', as='font', crossorigin)

    //- Title
    title miniShop2

    //- Manifest browserconfig files
    link(rel='manifest', href='./manifest.json')
    meta(name='msapplication-config' content='./browserconfig.xml')
  body
    +b.HEADER.header
      .wrapper
        +b.DIV.header__top
          +e.A.logo(href="/") miniShop2
          +e.NAV.menu
            +b.UL.top__menu
              +e.LI.item
                +e.A.link(href="#") Home
              +e.LI.item
                +e.A.link(href="#team") контрибьютеры
              +e.LI.item
                +e.A.link(href="#blog") Блог
              +e.LI.item
                +e.A.link(href="#how") Как работает
              +e.LI.item
                +e.A.link(href="#") Contacts
          +e.NAV.links
            +b.UL.links__list
              +e.LI.item
                +e.A.link(href="#")
                  img(src="assets/images/github-icon.svg", alt="")
              +e.LI.item.lang
                +e.A.link(href="#") RU
        +b.DIV.header__content
          +e.H1.title.animate__animated.animate__fadeInLeft.animate__delay-1s Самый гибкий интернет магазин для MODX
          +e.DIV.description.animate__animated.animate__fadeInUp.animate__delay-2s She clutched the matron by the arm, and forcing her into a chai She clutched the matron by the arm, and forcing her into a chai She clutched the matron by the arm, and forcing her into a chai She clutched the matron by the arm, and forcing her into a chai
          +b.A.button.button--blue.animate__animated.animate__fadeIn.animate__delay-3s С чего начать

    +b.SECTION.how#how
      +e.DIV.wrapper.wrapper
        +e.top
          +e.H2.title Как это работает
          +e.introtext A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked punch!
        +e.wrap
          +b.how__item
            +e.icon
              img(src="assets/images/how-icon.png", alt="")
            +e.H3.headtitle Features
            +e.text This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters
          +b.how__item
            +e.icon
              img(src="assets/images/how-icon.png", alt="")
            +e.H3.headtitle Features
            +e.text This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters
          +b.how__item
            +e.icon
              img(src="assets/images/how-icon.png", alt="")
            +e.H3.headtitle Features
            +e.text This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters
          +b.how__item
            +e.icon
              img(src="assets/images/how-icon.png", alt="")
            +e.H3.headtitle Features
            +e.text This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters
          +b.how__item
            +e.icon
              img(src="assets/images/how-icon.png", alt="")
            +e.H3.headtitle Features
            +e.text This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters
          +b.how__item
            +e.icon
              img(src="assets/images/how-icon.png", alt="")
            +e.H3.headtitle Features
            +e.text This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters

    +b.SECTION.team#team
      +e.wrapper.wrapper
        +e.H2.title Команда контрибьютеров
        +b.founder
          +b.founder__item
            +e.wrap
              +e.info
                +e.name Василий Наумкин
                +e.position Founder
              +e.social
                a(href="#" rel="nofollow" target="_blank") Github
                a(href="#" rel="nofollow" target="_blank") MODX.pro
                a(href="#" rel="nofollow" target="_blank") VK
        +b.community
          +b.team__item
            +e.wrap
              +e.avatar
                +e.IMG(src="assets/images/Photo.png" alt="member")
              +e.info
                +e.name William Ayrton
                +e.position UI/UX Designer
                +e.social
                  a(href="#" rel="nofollow" target="_blank") Github
                  a(href="#" rel="nofollow" target="_blank") MODX.pro
                  a(href="#" rel="nofollow" target="_blank") VK
          +b.team__item
            +e.wrap
              +e.avatar
                +e.IMG(src="assets/images/Photo.png" alt="member")
              +e.info
                +e.name William Ayrton
                +e.position UI/UX Designer
                +e.social
                  a(href="#" rel="nofollow" target="_blank") Github
                  a(href="#" rel="nofollow" target="_blank") MODX.pro
                  a(href="#" rel="nofollow" target="_blank") VK
          +b.team__item
            +e.wrap
              +e.avatar
                +e.IMG(src="assets/images/Photo.png" alt="member")
              +e.info
                +e.name William Ayrton
                +e.position UI/UX Designer
                +e.social
                  a(href="#" rel="nofollow" target="_blank") Github
                  a(href="#" rel="nofollow" target="_blank") MODX.pro
                  a(href="#" rel="nofollow" target="_blank") VK
          +b.team__item
            +e.wrap
              +e.avatar
                +e.IMG(src="assets/images/Photo.png" alt="member")
              +e.info
                +e.name William Ayrton
                +e.position UI/UX Designer
                +e.social
                  a(href="#" rel="nofollow" target="_blank") Github
                  a(href="#" rel="nofollow" target="_blank") MODX.pro
                  a(href="#" rel="nofollow" target="_blank") VK
          +b.team__item
            +e.wrap
              +e.avatar
                +e.IMG(src="assets/images/Photo.png" alt="member")
              +e.info
                +e.name William Ayrton
                +e.position UI/UX Designer
                +e.social
                  a(href="#" rel="nofollow" target="_blank") Github
                  a(href="#" rel="nofollow" target="_blank") MODX.pro
                  a(href="#" rel="nofollow" target="_blank") VK
          +b.team__item
            +e.wrap
              +e.avatar
                +e.IMG(src="assets/images/Photo.png" alt="member")
              +e.info
                +e.name William Ayrton
                +e.position UI/UX Designer
                +e.social
                  a(href="#" rel="nofollow" target="_blank") Github
                  a(href="#" rel="nofollow" target="_blank") MODX.pro
                  a(href="#" rel="nofollow" target="_blank") VK
          +b.team__item
            +e.wrap
              +e.avatar
                +e.IMG(src="assets/images/Photo.png" alt="member")
              +e.info
                +e.name William Ayrton
                +e.position UI/UX Designer
                +e.social
                  a(href="#" rel="nofollow" target="_blank") Github
                  a(href="#" rel="nofollow" target="_blank") MODX.pro
                  a(href="#" rel="nofollow" target="_blank") VK
          +b.team__item
            +e.wrap
              +e.avatar
                +e.IMG(src="assets/images/Photo.png" alt="member")
              +e.info
                +e.name William Ayrton
                +e.position UI/UX Designer
                +e.social
                  a(href="#" rel="nofollow" target="_blank") Github
                  a(href="#" rel="nofollow" target="_blank") MODX.pro
                  a(href="#" rel="nofollow" target="_blank") VK
          +b.team__item
            +e.wrap
              +e.avatar
                +e.IMG(src="assets/images/Photo.png" alt="member")
              +e.info
                +e.name William Ayrton
                +e.position UI/UX Designer
                +e.social
                  a(href="#" rel="nofollow" target="_blank") Github
                  a(href="#" rel="nofollow" target="_blank") MODX.pro
                  a(href="#" rel="nofollow" target="_blank") VK
          +b.team__item
            +e.wrap
              +e.avatar
                +e.IMG(src="assets/images/Photo.png" alt="member")
              +e.info
                +e.name William Ayrton
                +e.position UI/UX Designer
                +e.social
                  a(href="#" rel="nofollow" target="_blank") Github
                  a(href="#" rel="nofollow" target="_blank") MODX.pro
                  a(href="#" rel="nofollow" target="_blank") VK
        +e.more
          +e.A.button.button.button--white(href="#" rel="nofollow" target="_blank") Посмотреть всех

    +b.SECTION.blog#blog
      +e.DIV.wrapper.wrapper
        +e.top
          +e.H2.headline Последние новости
          +e.introtext A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked punch!
        +e.list
          +b.blog__item
            +e.H3.title I am from France
            +e.text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
            +e.date 25.05.2020
          +b.blog__item
            +e.H3.title I am from France
            +e.text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
            +e.date 25.05.2020
          +b.blog__item
            +e.H3.title I am from France
            +e.text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
            +e.date 25.05.2020
          +b.blog__item
            +e.H3.title I am from France
            +e.text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
            +e.date 25.05.2020
          +b.blog__item
            +e.H3.title I am from France
            +e.text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
            +e.date 25.05.2020
          +b.blog__item
            +e.H3.title I am from France
            +e.text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
            +e.date 25.05.2020

