doctype html
html(lang="ru-RU")
    head
        include ./assets/templates/head
    body
        include ./assets/templates/header
        include ./assets/templates/main
        include ./assets/templates/features
        include ./assets/templates/team
        include ./assets/templates/blog
        include ./assets/templates/help
        include ./assets/templates/footer
        script(src="assets/js/main.min.js")
