section.section#blog
    .container
        .headline
            h2.headline__title Последние новости
            .headline__description A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked punch!
        .row
            .col-12.col-lg-4
                .article
                    h3.article__title I am from France
                    .article__text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
                    time.article__time 25.05.2020
            .col-12.col-lg-4
                .article
                    h3.article__title I am from France
                    .article__text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
                    time.article__time 25.05.2020
            .col-12.col-lg-4
                .article
                    h3.article__title I am from France
                    .article__text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
                    time.article__time 25.05.2020