footer.footer(itemscope itemtype="http://schema.org/WPFooter")
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-lg-auto
                .copyright(itemscope itemtype="http://schema.org/WPFooter")
                    |   Copyright ©
                    span(itemprop="copyrightYear") 2015
                    |   minishop2.com
            .col-12.col-lg-auto
                nav.nav.nav--white
                    ul.nav__menu(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
                        li.nav__menu__item(itemprop="name")
                            a.nav__menu__item__link(href="#", itemprop="url") Документация
                        li.nav__menu__item(itemprop="name")
                            a.nav__menu__item__link(href="#", itemprop="url") GitHub
                        li.nav__menu__item(itemprop="name")
                            a.nav__menu__item__link(href="#", itemprop="url") Магазин дополнений
                        li.nav__menu__item(itemprop="name")
                            a.nav__menu__item__link(href="#", itemprop="url") Демо сайт