header.header
    .container
        .row.justify-content-center.align-items-center.justify-content-md-between
            .col-auto
                .logo(itemscope itemtype="http://schema.org/Organization")
                    a.logo__link(href="/", itemprop="url")
                        span.logo__title(itemprop="logo") miniShop2
                        meta.logo__meta(itemprop="name", content="Название сайта")
            .col-auto
                nav.nav
                    ul.nav__menu
                        each href, title in {'Преимущества': '#features', 'Команда': '#team', 'Блог': '#blog', 'Помочь проекту': '#help'}
                            li.nav__menu__item
                                a.nav__menu__item__link(href=href)= title