section.section.section--primary.text-center.text-white#help
    .container
        .headline.headline--white
            h2.headline__title Как помочь проекту?
        .section__body Если вы обнаружили баг или хотите предлодить идею, то вы можете оформить issue. Кто знает, может именно ваша идея сделает minishop2 лучше.
        .section__footer
            a.button.button--outline(href="#") Написать issue
            